<template >
  <div class="progress-wrapper">
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        :style="count.finishedStyle"
        :aria-valuenow="count.finished"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-striped bg-info"
        role="progressbar"
        :style="count.unfinishedStyle"
        :aria-valuenow="count.unfinished"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <p class="progress-note display-6">
      <span id="total-count-of-items" class="display-5">{{ count.total }}/100</span> are listed.<br />
      Of those, <span id="total-count-of-finished-items" class="display-5">{{ count.finished }}</span> are complete.
    </p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      count: {
        finished: 0,
        unfinished: 0,
        total: 0,
        finishedStyle: 'width: 0%',
        unfinishedStyle: 'width: 0%',
      },
    }
  },
  created: function() {
    this.getCount()
  },
  methods: {
    getCount: function() {
      axios
        .get('/get-count')
        .then(response => {
          if (isFinite(response.data.finished) && isFinite(response.data.unfinished) && isFinite(response.data.total)) {
            this.count.finished = response.data.finished
            this.count.unfinished = response.data.unfinished
            this.count.total = response.data.total
            this.count.finishedStyle = 'width: ' + response.data.finished + '%'
            this.count.unfinishedStyle = 'width: ' + response.data.unfinished + '%'
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
  },
}
</script>

<style scoped>
  .progress-wrapper {
    margin-left: 2rem;
  }

  .progress {
    width: 20rem;
    margin-bottom: 1rem;
  }
</style>
